*.o 
out
detailed_simulator
layer*
Command.txt
Trace.txt
src/play/play
src/replay/replay
*.txt
0.75.espim16.txt
0.75.espim.txt
0.7.espim16.txt
0.7.espim.txt
0.85.espim16.txt
0.85.espim4.txt
0.85.espim.txt
0.8.espim16.txt
0.8.espim.txt
0.9.espim16.txt
0.9.espim4.txt
0.9.espim.txt
Command.txt
k6_aoe_02_short.trc
out
README.md
results
src/AIM-Simulator/DRAM_bank_state.log
Trace.txt
